/* bg color */
body {
    background-color:rgb(16, 165, 175);
  }
  
#hi {
color: rgb(73, 69, 69);
}

#jumbo {
  background-image: url("../images/Blue-Gradient-Background-1024x374.jpg")
  
      
}
/* jumbotron */
.jumbotron {
  min-height: 400px;
    margin: 0px;
  background-image: url("../images/Blue-Gradient-Background-1024x374.jpg")
  
    background-size: cover; 
  }
.quote {
color: rgb(168, 8, 8);
    text-align: center;
  font-size: 60px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



#link {
   
    font-size: 20px;
    }

#headline {align-content: center;}

.par {
    align-content: center;
}
  div.indent {
    
    text-indent: 50px;
    font-family:
  }

/* contact form */
.container {
font-size: 20px;
text-align: center;
}

.form-box {
    max-width: 500px;
    margin: auto;
    padding: 50px;
    background: #f7f1f1;
    border: 10px solid #f2f2f2;
  }
  
  h1, p {
    text-align: center;
  }
  
  input, textarea {
    width: 100%;
  }
  
  