/* body BG color */
body {
  
    background-color:rgb(16, 165, 175);
  }
  /* Hi im sam */
#hi {
color: rgb(73, 69, 69);
}

#jumbo {
  background-image: url("../Images/Blue-Gradient-Background-1024x374.jpg")
      
}
/* jumbotron */
.jumbotron {
  min-height: 400px;
    margin: 0px;
  background-image: url("../Images/Blue-Gradient-Background-1024x374.jpg")
  
    background-size: cover; 
  }

  /* Jumbotron quote */
#quote {
  color: rgb(168, 8, 8);
  text-align: center;
  font-size: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* nav bar links */
#link {   
   font-size: 20px;
    }
/* about me  */
#headline {align-content: center;
  margin: 25px;
  padding: 20px;
}

  div.indent {
    text-indent: 50px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  div.indent2 {
    text-indent: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.container2 {
font-size: 20px;
text-align: center;
}
/* profile photo */
.profile-img {
  float: left;
  width: 20%;
  max-width: 20%;
  margin-right: 20px;
}