/* body bg color */
body {
  
    background-color:rgb(16, 165, 175);
  }
  
#hi {
color: rgb(73, 69, 69);
}

#jumbo {
  background-image: url("../images/Blue-Gradient-Background-1024x374.jpg")
      
}
/* jumbotron */
.jumbotron {
  min-height: 400px;
    margin: 0px;
  background-image: url("../images/Blue-Gradient-Background-1024x374.jpg")
  
    background-size: cover; 
  }
/* quote */
#quote {
  color: rgb(168, 8, 8);
    text-align: center;
  font-size: 50px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* nav bar */
#link {
   
    font-size: 20px;
    }
/* headline */
#headline {align-content: center;
}
/* quote */
.par {
    align-content: center;
}
 

 


  