body {
    /* image for background */
    /* background-image: url('../images/low_contrast_linen/low_contrast_linen.png'); */
  background-color: rgb(168, 166, 166);
    /* font parameters */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
  
    /* added padding to prevent navbar overlap. (100 based on browser inpector of size) */
    padding-top: 90px;
  }
  
  
  .navbar {
    /* pulls everything down to push up against bottom border */
    padding-bottom: 0;
    color: #666;
  
    /* allows ??? to control the horizontal position */
    padding-left: 0;
  
    /*solid line for the bottom border  */
    border-bottom: solid;
    border-width: 4px;
    border-bottom-color: #4aaaa5;
  }
  
  .navbar-brand {
    background-color: #4aaaa5;
    padding: 15px;
    margin-bottom: -2px;
    font-size: 30px;
    color: #fff !important; 
  }
  
  li {
    border-right: 1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  /* container for nav header */
  .container-fluid {
    padding-left: 5%;
    padding-right: 5%;
    
  }
  
  .nav-link {
    text-decoration: none;
    color: #4Cabc2;
  }
  
  /* Change the color of links on hover */
  .nav-link:hover {
   
    background-color: #4Cabc2;
    color: rgb(244, 246, 247);
  }
  
  #aboutMe {
    font-size: 25px;
  }
 
  #details {
    background-color:rgb(168, 166, 166);  
    /* provides spacing between the top and bottom nav bars and the content */
    margin-top: 20px;
    margin-bottom: 80px;
  
    /* provide spaceing around the text */
    padding: 20px;
  } 
  
  #bio-image {
    float: left;
    padding-right: 1em;
    padding-top: 0.25em;
  }
  
  input, textarea {
    width: 95%;
    
  }
  
  .footer {
    /* set text properties */
    background-color: rgb(126, 125, 125);
    
    /* sets height of footer*/
    height: 10%;
    
    /* sets properties for footer border*/
    border-top: solid;
    border-top-color: #4aaaa5;
    border-top-width: 8px;
  }
  
  .footer-text {
    /* forces text across the entire screen so it has a center */
    width: 100%;
    text-align: center;
  
    font-size: 10px;
    color:#fff; 
  }
 
  @media (max-width: 768px) {
    .container-fluid {
      /* removes paddding on either side */
      padding-left: 0;
      padding-right: 0;
    }
  
  /* removes verticle lines between text */
    li {
      border-right: none;
    }
  
  /* collapses space between menu options when they stack vertically*/
    .nav-link{
      padding: 1px;
    }
  }
  
  .product {
    width: 210px;
    height: 140px;
    margin: 10px;
    float: left;
  }
  
  .image-formatter {
    width: 100%;
    height: 110%;
    position: relative;
    top: -30px;
  }

  #portLable {
    text-align: center;
    color: black;
    font-size: 25px;
  }
  
  .product-label {
    position: relative;
    margin: 0;
    top: 200px;
    width: 210px;
    padding: 5px 0;
    font-size: 20px;
    background-color: #4aaaa5;
    z-index: 1;
    text-align: center;
    color: #fff;
  }